<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
        internalLogFile="C:\Temp\NLog.log">

    <targets>
         <target name="f1" xsi:type="File" fileName="C:\Temp\file1.txt"/>
    </targets>

    <rules>
        <logger name="*" minLevel="Trace" writeTo="f1" />
    </rules>
</nlog>